* {
    margin: 0;
    padding: 0;
  }

body {
    font-family: arial, sans-serif;
}

.left-nav { 
    float: left;
}

.right-nav { 
    float: right; 
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
    min-width: 1024px;
}

nav a, i {
    padding: 22px 10px;
    text-decoration: none;
    color: #222;
}

nav a:link { 
    color: #222; 
}

nav a:visited { 
    color: #222; 
}

nav a.right-nav:hover { 
    color: #555;
    text-decoration: underline; 
}

nav a.left-nav:hover {
    text-decoration: underline;
}

nav button { 
    margin-top: 15px; 
}

nav #sign-in {
    border: 1px solid #4285f4;
    border-radius: 2px;
    font-weight: bold;
    outline: none;
    background: #4285f4;
    background: linear-gradient(top,#4387fd,#4683ea);
    padding: 6px 12.5px;
    margin-right: 10px;
    font-size: 13px;
}

nav #sign-in a {
    color: white;
    padding: 0;
}

nav #sign-in a:link { 
    color: white;
}

nav #sign-in:hover { 
    box-shadow: 0px 1px 2px grey;
}

i {
    opacity: .55;
    padding-top: 18px;
    padding-right: 17px;
}

i:hover {
    opacity: 1;
    cursor: pointer;
}

main section div {
	width: auto;
	height: 350px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

input[type='text'] {
	width: 490px;
	height: 35px;
	border: none;
	margin: 4px 0 4px 0;
}

:focus {
	outline: none;
}

.logo {
	height: auto;
	width: auto;
}

.search-box {
	padding: 0 20px;
	display: flex;
	flex-direction: row;
	height: auto;
	width: auto;
	align-items: center;
	justify-content: space-between;
	background: transparent;
	z-index: 10;
	border: 2px solid #dfe1e5;
	border-radius: 30px;
}

.search-box-buttons {
	display: flex;
	flex-direction: row;
}

.search-box:hover {
    box-shadow: 0.5px 0.5px 2px 2.5px rgba(223, 228, 232, 0.5);
}

#logo {
	width: auto;
	height: auto;
	padding: 170px 0 25px 0;
}
#search-icon {
	width: 15px;
    cursor: default;
    padding-right: 5px;
}

#microphone-icon {
	width: 24px;
	cursor: pointer;
}

.btn {
	padding: 6px 12px;
	font-size: 13px;
	border: none;
	cursor: pointer;
}

.btn-primary {
	background: #4285f4;
	color: white;
	font-weight: 600;
	border-radius: 2px;
	line-height: 30px;
	padding: 0 13px;
}

.btn-primary:hover {
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
}

.btn-secondary {
    background-color: rgb(242,242,242);
    padding: 8px 15px;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-size: 14px;
    cursor: pointer;
    outline: none;
    margin: 11px 4px;
}

.btn-secondary:hover {
    color: #222;
    border-color: lightgrey;
    box-shadow: 0px 1px 3px lightgrey;

}

.btn-secondary:active {
    border-color: #3498DB;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 15px;
    min-width: 800px;
    letter-spacing: 0px;
    border-top: 1px solid #e4e4e4;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #f2f2f2;
}
.upper-footer{
padding-top: 10px;padding-bottom: 10px;
border-bottom: 1px solid #e4e4e4;

}
footer a, p {
    text-decoration: none;
    padding: 11px 13.5px;
    color:#5f6368;
}

.left-footer { 
    float: left;
}

.right-footer { 
    float: right; 
}

footer a:link { 
    color:#5f6368;
}

footer a:visited { 
    color:#5f6368; 
}

footer a:hover { 
    text-decoration: underline;
}

footer a:active { 
    color: #E74C3C; 
}